.box {
    max-width: 700px;
    width: 80%;
    background: #111;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 18px rgba(0, 255, 255, 0.25);
    margin: auto;
}

.form-card {
    background: #0f0f0f;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0px 0px 25px rgba(143, 143, 143, 0.25);
}

.form-control,
.form-select {
    background: #2e2e2e !important;
    border: none !important;
    color: #ffffff !important;
}

.form-control::placeholder,
.form-select::placeholder {
    color: #aaaaaa !important;
}


.form-control:focus,
.form-select:focus {
    background: #000000 !important;
    color: #ffffff !important;
    box-shadow: 0 0 5px #00eaff;
}

.form-label {
    color: #ffffff;
    font-weight: 500;
}

h2 {
    color: #00eaff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.btn-custom {
    background: #00eaff;
    color: #000;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.btn-custom:hover {
    color: #ffffff;
    box-shadow: 0 0 10px #00eaff;
}

.btn-custom a {
    text-decoration: none;
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .box {
        max-width: 95%;
        padding: 20px;
    }

    .form-card {
        padding: 20px;
    }
}